$font-Family: "PingFangSC-Regular","PingFang SC";

*{
  padding: 0px;
  margin: 0px;
}
.formBuilder-NavBar{
    position: fixed;
    top: 65px;
    left: 0;
    z-index: 99;
    height: 55px;
    width: 100%;
    background:rgba(255,255,255,1);
    min-width: 1000px;
    display: flex;
    flex-direction: row;
    background-color: rgba(51,51,51,1);;
    border-bottom:1px solid rgba(238,238,238,1);
    box-shadow:0px 1px 0px 0px rgba(233,235,240,1);
    opacity: 0.9;
    .headerBarTitle{
      text-align: center;
      height: 55px;
      width: 84%;
      line-height: 60px;
      font-size:14px;
      font-family:$font-Family;
      font-weight:450;
      // color:rgba(86,92,110,1);
      color: #A4ADC8;
    }
    .headerBarBack{
      line-height: 55px;
      height: 55px;
      width: 8%;
      display: flex;
      align-items: center;   
      .ant-btn-link{
          margin-left: 10px;
          font-size:16px;
          font-family:$font-Family;
          font-weight:500;
          color:rgba(86,92,110,1);
        span{
          margin-left: 1px;
        }
      } 
    }
    .headerBarButton{
      display: flex;
      align-items: center;
      justify-content: center;     
      height: 55px;
      width: auto;
      .ant-btn{
        border-radius:4px;
        background:rgba(0,122,255,1);
        font-size:15px;
        font-family:$font-Family;
        font-weight:400;
        color:rgba(255,255,255,1);
        height:36px;
        margin-right: 15px;
      }      
    }

    .flexBlank{
      flex-grow: 1;
    }

    .navBarBtn{
      height: 55px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      // background-color: #286FB7;
      color: honeydew;
      font-weight: 500;
      font-size: 15px;
      cursor: pointer;
      &:hover{
        background-color: #0086E6;
      }
    }
}